{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    {{ sylius_template_event(['sylius.shop.checkout.address.steps', 'sylius.shop.checkout.steps'], _context) }}

    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui segment">
                {{ sylius_template_event('sylius.shop.checkout.address.before_form', {'order': order}) }}

                {{ form_start(form, {'action': path('add_payment_data'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                <input type="hidden" name="_method" value="PUT" />

                {{ form_row(form) }}
                <div class="ui hidden divider"></div>

                {{ sylius_template_event('sylius.shop.checkout.address.before_navigation', {'order': order}) }}

                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>
        <div class="five wide column">
            {{ sylius_template_event(['sylius.shop.checkout.address.sidebar', 'sylius.shop.checkout.sidebar'], _context) }}
        </div>
    </div>
{% endblock %}
